
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ======globals===== */
* {
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --blue: #2a2185;
    --white: #fff;
    --purple: rebeccapurple;
    --purple2: rebeccapurple;
    --black1: #222;
    --black2: #999;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --tran-03: all 0.3s ease;
    --tran-05: all 0.5s ease;
    --white2: #fff;
    --white3: #fff;
    --dark: #1a1a1a;
    --purple3: rebeccapurple;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--white);
}

body.dark {
    --white: #222;
    --white3: #fff;
    --purple: #333;
    --primary-color-light: #3A3B3C;
    --purple2: #fff;
    --white2: rebeccapurple;
    --dark: #fff;
    --black2: #fff; 
}
.container {
    position: relative;
    width: 100%;
}
.navigation {
    position: fixed;
    width: 300px;
    height: 1000%;
    background: var(--purple);
    border-left: 10px solid var(--purple);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;;
}
.navigation ul li:hover,
.navigation ul li.hovered  {
    background: var(--white2);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 30px;
    pointer-events: none;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white3);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--purple2);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 55px;
    line-height: 65px;
    text-align: center;
}

.navigation ul li a .icon i {
    font-size: 1.50rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 55px;
    line-height:55px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -45px;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 30px 30px 0 10px var(--white2);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -45px;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 30px -30px 0 10px var(--white2);
    pointer-events: none;
}

.mode {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--white2);
    
}
.mode .mode-inner {
    display: flex;
}

.mode .moon-sun {
    position: relative;
    display: block;
    min-width: 60px;
    height: 55px;
    line-height: 65px;
    text-align: center;
    padding-left: 18px;
}
.navigation ul li .mode-text {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 55px;
    line-height:55px;
    text-align: start;
    white-space: nowrap;
    padding-left: 10px;    
}


.mode i {
    /*position: absolute;*/
    transition: var(--tran-03);
    font-size: 1.50rem;
   
}

.mode i.sun {
    opacity: 0;
}
body.dark .navigation ul li .mode-text {
    padding-left: 32px;
}
body.dark .mode .moon-sun{
    margin-left: -22px;
}

body.dark .navigation .mode i.sun {
    opacity: 1;
}

body.dark .navigation .mode i.moon{
    opacity: 0;
}
.navigation .mode .toggle-switch {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    /*background: var(--purple);*/
    transition: var(--tran-05);
    
}
.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}
.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--white);
    transition: var(--tran-03);
}

.navigation ul .mode:hover {
    color: var(--purple2);
    border-radius: 6px ;
    background-color: var(--primary-color-light);
}
body.dark .switch::before {
    left: 25px;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: var(--tran-05);
}
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--dark);
}
.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position:relative;
    width: 100%;
}
.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border:1px solid var(--black2);
}

.search label i { 
position: absolute;
top: 0;
left: 10px;
font-size: 1.2rem;
}

.user {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    font-size: 40px;
}
.CardBox {
    position: relative;
    width: 100%;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.CardBox .Cards {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);

}
.CardBox .Cards .Numbers {
    position: relative;
    font-weight: 500;
    font-size: 2rem;
    color: var(--purple3);
}

.CardBox .Cards .CardName {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
}

.CardBox .Cards .iconBx {
    font-size: 3rem;
    color: var(--black2);
}

.CardBox .Cards:hover {
    background: var(--purple3);
}

.CardBox .Cards:hover .Numbers,
.CardBox .Cards:hover .CardName,
.CardBox .Cards:hover .iconBx {
    color: var(--white3);
}

/* =======table for all questions ======== */


.Details {
    position:relative;
    width: 100%;
    padding: 20px;
   /* margin-top: 10px;*/
}
.Details .recentQuestions {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding:20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.Details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--purple3);
}

.cardHeader .btnd {
    position: relative;
    padding: 5px 10px;
    background: var(--purple3);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.Details .recentQuestions {
    width: 100%;
    margin-top: 20px;
}

.Details .recentQuestions .recent-container{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.Details .recentQuestions .recent-container .recent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    line-height: 25px;
    color: var(--dark);
}

.Details .recentQuestions .recent-container .recent .quest-num {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}
