@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan';
}
@font-face {
    font-family: my-Font;
    src: url(Quesha.ttf);
}
.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.02s;
}
button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.02s;
}
body {
    width: 100%;
    min-height: 100vh;
    background: var(--body-color); /* #faf9f9; */
    overflow-x: hidden;
}
body.second-color {
    --body-color: #fff;
    --text-color: #f1356d;
    --colored-border: #333;
    --dark-color: #0a032e;
}
body.light-blue {
    --body-color: #fff;
    --text-color: #7ee5f7;
    --colored-border: #333;
    --dark-color: #0a032e;
    --dark-color1: #fff;
}
:root {
    --body-color: #fff;
    --text-color: rgb(29, 238, 29);
    --colored-border: #333;
    --dark-color: #0a032e;
    --light-color: #fff;
}
.header-container {
    display: flex;
    width: 100%;
    padding: 15px 70px;
    background: var(--body-color);
    color: #99ffcc;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.header-container span {
    font-family: my-Font;
    font-size: 60px;
    font-weight: 700;
    display: block;
    width: 15%;
    color: var( --dark-color1);
}
.header-container .header-carrier {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.header-container .header-carrier ul {
    display: flex;

}

.header-container .header-carrier ul li {
    padding: 0 12px;
    list-style: none;
    font-weight: 500;
    color: var(--colored-border);
    font-size: 16px;
    transition: 03s ease;
}
.header-container .header-carrier ul li a {
    color: var(--colored-border);
    text-decoration: none;
}
.header-container .header-carrier ul li a:hover {
    color: var(--text-color);
}
.header-container .header-carrier .activity-container {
    display: flex;
    align-items: center;
}
.header-container .header-carrier .activity-container .sign-in {
    margin-right: 10px;
    color: var(--colored-border);
    font-weight: 500;
    border: 1px solid #99ffcc;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 18px;
}
.header-container .header-carrier .activity-container .create {
    padding: 18px 25px;
    background: #99ffcc;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    color: var(--light-color)
} 
.header-container .contain{
    display: none;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 0px;
    min-height: 100vh;
    width: 97%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    background: var(--body-color);
}

/* section 1 */
.section-1 .descrip {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px 30px;
}

.section-1 .descrip h1{
    font-size: 50px;
    font-weight: 600;
    color: var(--dark-color1);
}
.section-1 .descrip p {
    font-size: 18px;
    line-height: 20px;
    color: var(--colored-border);
    margin-bottom: 30px;
    padding-top: 20px;
}
.section-1 .descrip button {
    height: 40px;
    border: none;
    background: #1a1a1a;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    padding: 0 10px;
    color: #99ffcc;
    width: 130px;
}
.section-1 .descrip button:hover {
    background: #99ffcc;
    color: var(--body-color);
}
.section-1 .image1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px 30px;
    position: relative;
}
.section-1 .image1 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.section-1 .image1 .up {
    position: absolute;
    background: var(--body-color);
    width: 100px;
    height: 60px;
    top: -15px;
    border-bottom-left-radius: 15px;
    right: 0px;
}
.section-1 .image1 .down {
    position: absolute;
    background: var(--body-color);
    width: 100px;
    height: 60px;
    bottom: 0px;
    border-top-right-radius: 15px;
    left: 0px;
}
/* section 2 */

.section-1 .contains-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px 30px;
}

.section-1 .contains-text h1 {
    font-size: 50px;
    font-weight: 600;
    color: var(--dark-color1);
}
.section-1 .contains-text p {
    padding: 20px 0;
    font-size: 18px;
    color: var(--colored-border);
    line-height: 23px;
}

.section-1 .contains-pics {
    flex: 1;
    display: flex;
    padding: 20px 30px;
    position: relative;
    justify-content: center;
}
.section-1 .contains-pics img {
    border: 15px solid var(--light-color);
    border-radius: 40px;
    width: 80%;
    height: 100%;
}
.section-1 .contains-pics .top-left, 
.section-1 .contains-pics .top-right, 
.section-1 .contains-pics .bottom-left, 
.section-1 .contains-pics .bottom-right {
    position: absolute;
    background: #1a1a1a;
    font-size: 14px;
    width: 200px;
    border-radius: 10px;
    color: #ffcc99;var(--light-color);
}
.top-left {
    top: 100px;
    left: 40px;
    padding: 10px 20px;
    height: 60px;
}
.top-right {
    top: 70px;
    right: 50px;
    padding: 10px 20px;
    height: 80px;
}
.bottom-left {
    bottom: 80px;
    left: 40px;
    padding: 10px 20px;
    height: 80px;
}
.bottom-right {
    bottom: 100px; 
    right: 50px;
    padding: 10px 20px;
    height: 80px;
}
.top-left h6, .top-right h6, .bottom-left h6, .bottom-right h6 {
    color: #99ffcc;
    font-size: 18px;
}
/* section 3 */

.section-1 .descrip2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: start;
    padding: 40px 30px;
}
.section-1 .descrip2 h1 {
    font-size: 50px;
    font-weight: 600;
    color: #ffcc99;
}

.section-1 .descrip2  p {
    font-size: 18px;
    line-height: 25px;
    padding-top: 30px;
    color: var(--colored-border);
}

.section-1 .image2 {
    flex: 1;
    padding: 0 20px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
}
.section-1 .image2 .main-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 200px;
}
.section-1 .image2 .round1 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    bottom: 250px;
    right: 80px;
}
.section-1 .image2 .round1 img,
.section-1 .image2 .round2 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.section-1 .image2 .round2 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    bottom: 240px;
    left: 80px;
}
.section-3 {
    display: flex;
    width: 97%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.section-3 h1 {
    font-size: 40px;
    font-weight: 600;
}
.section-3 .samples-course {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 14px;
}
.section-3 .samples-course .div-1 {
    padding: 10px 20px;
    margin: 0 5px;
    border: 1px solid rgb(245, 244, 244);
    border-radius: 5px;
    color: var(--light-color);
} 
.section-3 .samples-course .div-1:hover,
.section-3 .samples-course .active2{
    background: #99ffcc;
    color: var(--dark-color);
}
.section-3 .container-offers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.section-3 .container-offers .programming {
    width: 400px;
    height: 300px;
    margin: 7px 10px 0 0px;
    border: 1px solid rgb(245, 244, 244);
    border-radius: 8px;
    position: relative;
}

.section-3 .container-offers .programming img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.section-3 .container-offers .programming .offers {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: 40%;
    column-gap: 5px;

}
.section-3 .container-offers .programming .offers div {
    display: flex;
    text-align: start;
    align-items: center;
    margin-top: 5px;
    color: var(--light-color);
    font-size: 14px;
    font-weight: 500;
}
.section-3 .container-offers .programming .offers div span {
    padding: 7px 7px;
    background: var(--light-color);
    color: #99ffcc;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}
.section-3 .container-offers .programming .offers .active3 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    border: 1px solid #99ffcc;
    height: 40px;
    width: 180px;
}
.section-3 .container-offers .programming .offers .active3:hover {
    background: #99ffcc;
    color: var(--dark-color);
}
.section-3 .container-offers .programming .des {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--light-color);
    font-size: 18px;
    font-weight: 500;
}

#newsletter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/plain1.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #1a1a1a;
}
#newsletter h4 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 500;
    color: #99ffcc;
}
#newsletter p span {
    color: #ffcc99;
}
#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: var(--text-color);
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #99ffcc;
}
/* footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .col h1 {
    font-family: my-Font;
    font-size: 60px;
}

footer .col1 p {
    margin: 4px 0;
}
footer .logo {
    margin-bottom: 30px;
}
footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
}

footer p {
    font-size: 16px;
    padding-bottom: 0 0 8px 0;
}

footer a {
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .col .follow {
    margin-top: 20px;

}
footer .follow i {
    color: var(--colored-border);
    padding-right: 4px;
    cursor: pointer;
    font-size: 16px;
}
footer .install .row img {
    border: 1px solid #99ffcc;
    border-radius: 6px;
    width: 250px;
    height: 60px;
    margin-right: 5px;
} 
footer .install img {
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
    color: #99ffcc;
}
footer .copyright {
    width: 100%;
    text-align: center;
}

@keyframes hide {
    0%{ transform: rotateY(0deg) }
    100%{ transform: rotateY(90deg) }
}
.color {
    background: #1a1a1a;
    color: var(--light-color);
    border-radius: 10px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.color .contains-text p {
    color: var(--light-color);
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
}
.reveal.active4 {
    transform: translateY(0px);
    opacity: 1;
    transition: all 2s ease;
}

#pop-up {
    top: 0px;
    animation: pop-up 0.5s ease forwards;
}

@keyframes pop-up {
    0%{ }
    70%{ transform: translateY(50px)}
    100%{ transform: translateY(0px)}
}

/* media queries */

@media screen and (max-width: 1040px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    /* navbar */
    .header-container {
        justify-content: space-between;
        width: 100%;
        padding: 20px 20px;
    }
    .header-container span  {
        width: 0%;
        font-size: 40px;
    }
    .header-container .header-carrier {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        position: fixed;
        top: 60px;
        right: -100%;
        z-index: 999;
        transition: 0.3s;
        font-size: 16px;
        background: var(--light-color);
    }
    .header-container .contain  {
        display: initial;
        font-size: 30px;
        color: var(--colored-border);
    }
    .header-container .contain div {
        width: 30px;
        height: 30px;
    }
    .header-container .contain div.close {
        transform: rotateY(90deg);
    }
    .header-container .contain div.menu {
        position: absolute;
    }
    .header-container.active1 {
        box-shadow: 0px 0px 0px;
    }
    .header-carrier.active {
        right: 0;
    }
    .menud {
        animation: hide 0.2s ease-in forwards;
    }
    .closed {
        animation: hide 0.2s 0.2s ease-out forwards reverse;
    }
    .header-container .header-carrier ul {
        display: flex;
        flex-direction: column;
    
    }
    .header-container .header-carrier ul li {
        padding: 20px 0;
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
    .header-container .header-carrier .activity-container {
        flex-direction: column;
        width: 100%;
    }
    .header-container .header-carrier .activity-container .sign-in {
        margin-top: 20px;
        padding-left: 140px;
        padding-right: 140px;
        font-size: 20px;
        color: var(--dark-color);
        margin-right: 0; 
    }
    .header-container .header-carrier .activity-container .create {
        margin-top: 10px;
        padding: 20px 100px;
        font-size: 20px;
        color: var(--dark-color);
    }
     /* section 1 */

     .section-1{
        display: flex;
        padding: 20px 0px;
        min-height: 40vh;
        margin-top: 10px;
        margin-bottom: 20px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    }
    .section-1 .descrip {
        width: 50%;
    }
    .section-1 .descrip h1{
        font-size: 30px;
        font-weight: 600;
        color: var(--dark-color1);
        padding: 0px 0;
    }
    .section-1 .descrip p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .section-1 .image1 {
        padding: 20px 0;
        width: 50%;
    }
    .section-1 .image1 .up {
        top: -15px;
        right: -10px;
        height: 60px;
    }
    .section-1 .image1 .down {
        bottom: 15px;
        height: 40px;
    }

     /* section 2 */  
     .color {
       width: 97%;
    }  
    .section-1 .contains-text h1 {
        font-size: 30px;
    }

    .section-1 .contains-text p {
        font-size: 18px;
        line-height: 20px;
    }

    .section-1 .contains-pics .top-left, .section-1 .contains-pics .top-right, .section-1 .contains-pics .bottom-left, .section-1 .contains-pics .bottom-right {
        font-size: 14px;
        width: 150px;
    }

    .top-right {
        top: 70px;
        right: 30px;
        height: 60px;
    }
    .top-left {
        top: 100px;
        left: 20px;
    }
    .bottom-left {
        bottom: 70px;
        left: 20px;
        height: 50px;
    }
    .bottom-right {
        bottom: 90px;
        right: 30px;
        height: 60px;
    }

    .top-left h6, .top-right h6, .bottom-left h6, .bottom-right h6 {
        font-size: 18px;
    }

    /* section 2 */

    .section-1 .descrip2 {
        padding-right: 60px;
    }
    .section-1 .descrip2 h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .section-1 .descrip2  p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .section-1 .image2 .main-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 100px;
    }
    .section-1 .image2 .round1 {
        width: 150px;
        height: 150px;
        right: 40px;
        bottom: 300px;
    }

    .section-1 .image2 .round2 {
        width: 150px;
        height: 150px;
        left: 40px;
        bottom: 300px;
    }

    /* section 3 */
    .section-3 {
        background: #1a1a1a;
    }

    .section-3 h1 {
        font-size: 30px;
        color: #99ffcc;
    }
    .section-3 .samples-course {
        font-size: 14px;
        color: var(--light-color);
    }
    .section-3 .samples-course .div-1 {
        padding: 10px 15px;
        font-size: 14px;
        color: var(--light-color);
    }

    .section-3 .samples-course .div-1:hover, 
    .section-3 .samples-course .active2 {
        background: #99ffcc;
        color: var(--light-color);
    }

    .section-3 .container-offers {
        margin-top: 20px;
        color: var(--light-color);
    }
    .section-3 .container-offers .programming {
        width: 300px;
        height: 300px;
    }
    .section-3 .container-offers .programming .offers div {
        font-size: 12px;
        font-weight: 600;
        color: var(--light-color);
    }
    .section-3 .container-offers .programming .offers div span {
        padding: 7px 7px;
        margin-left: 5px;
        font-size: 10px;
    }

    .section-3 .container-offers .programming .offers .active3 {
       margin: 30px 20px 0px 20px;
       width: 100px;
    }
    /* news letter */
    #newsletter {
        top: 1900px;
    }

    #newsletter .form {
        width: 70%;
    }
    #newsletter h4 {
        font-size: 20px;
    }
    
    #newsletter p {
        font-size: 14px;
        line-height: 23px;
    }
    #newsletter input {
        height: 3rem;
    }
    button.normal {
        padding: 13px 30px;
    }

    /* footer */

    footer {
        top: 2100px;
    }
    footer .col h1 {
        font-size: 40px;
    }

}

@media (max-width: 799px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    /* navbar */
    .header-container {
        justify-content: space-between;
        width: 100%;
        padding: 20px 20px;
    }
    .header-container span  {
        width: 0%;
        font-size: 40px;
    }
    .header-container .header-carrier {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        position: fixed;
        top: 60px;
        right: -100%;
        z-index: 999;
        transition: 0.3s;
        font-size: 16px;
        background: var(--light-color);
    }
    .header-container .contain  {
        display: initial;
        font-size: 30px;
        color: var(--colored-border);
    }
    .header-container .contain div {
        width: 30px;
        height: 30px;
    }
    .header-container .contain div.close {
        transform: rotateY(90deg);
    }
    .header-container .contain div.menu {
        position: absolute;
    }
    .header-container.active1 {
        box-shadow: 0px 0px 0px;
    }
    .header-carrier.active {
        right: 0;
    }
    .menud {
        animation: hide 0.2s ease-in forwards;
    }
    .closed {
        animation: hide 0.2s 0.2s ease-out forwards reverse;
    }
    .header-container .header-carrier ul {
        display: flex;
        flex-direction: column;
    
    }
    .header-container .header-carrier ul li {
        padding: 20px 0;
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
    .header-container .header-carrier .activity-container {
        flex-direction: column;
        width: 100%;
    }
    .header-container .header-carrier .activity-container .sign-in {
        margin-top: 20px;
        padding-left: 140px;
        padding-right: 140px;
        font-size: 20px;
        color: var(--dark-color);
        margin-right: 0; 
    }
    .header-container .header-carrier .activity-container .create {
        margin-top: 10px;
        padding: 20px 100px;
        font-size: 20px;
        color: var(--dark-color);
    }
     /* section 1 */

     .section-1{
        display: flex;
        flex-direction:column;
        padding: 20px 0px;
        min-height: 40vh;
        margin-top: 10px;
        margin-bottom: 20px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    }
    .section-1 .descrip {
        width: 100%;
    }
    .section-1 .descrip h1{
        font-size: 30px;
        font-weight: 600;
        color: var(--dark-color1);
        padding: 0px 0;
    }
    .section-1 .descrip p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .section-1 .image1 {
        padding: 20px 50px;
        width: 100%;
    }
    .section-1 .image1 .up {
        top: -15px;
        right: 10px;
        height: 60px;
    }
    .section-1 .image1 .down {
        bottom: 15px;
        height: 40px;
        left: 10px;
    }

     /* section 2 */  
     .color {
       width: 97%;
    }  
    .section-1 .contains-text h1 {
        font-size: 30px;
    }

    .section-1 .contains-text p {
        font-size: 18px;
        line-height: 20px;
    }

    .section-1 .contains-pics .top-left, .section-1 .contains-pics .top-right, .section-1 .contains-pics .bottom-left, .section-1 .contains-pics .bottom-right {
        font-size: 14px;
        width: 150px;
    }

    .top-right {
        top: 70px;
        right: 30px;
        height: 60px;
    }
    .top-left {
        top: 100px;
        left: 20px;
    }
    .bottom-left {
        bottom: 70px;
        left: 20px;
        height: 50px;
    }
    .bottom-right {
        bottom: 90px;
        right: 30px;
        height: 60px;
    }

    .top-left h6, .top-right h6, .bottom-left h6, .bottom-right h6 {
        font-size: 18px;
    }

    /* section 2 */

    .section-1 .descrip2 {
        padding-right: 60px;
    }
    .section-1 .descrip2 h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .section-1 .descrip2  p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .section-1 .image2 .main-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 0px;
    }
    .section-1 .image2 .round1 {
        width: 150px;
        height: 150px;
        right: 150px;
        bottom: 160px;
    }

    .section-1 .image2 .round2 {
        width: 150px;
        height: 150px;
        left: 150px;
        bottom: 160px;
    }

    /* section 3 */
    .section-3 {
        background: #1a1a1a;
    }

    .section-3 h1 {
        font-size: 30px;
        color: #99ffcc;
    }
    .section-3 .samples-course {
        font-size: 10px;
        color: var(--light-color);
    }
    .section-3 .samples-course .div-1 {
        padding: 10px 15px;
        font-size: 10px;
        color: var(--light-color);
        border: none;
        color: var(--light-color);
        border-radius: 0px;
    }
    .section-3 .samples-course .div-1:hover, 
    .section-3 .samples-course .active2 {
        background: #1a1a1a;
        color: var(--light-color);
        border-bottom: 1px solid #99ffcc;
    }

    .section-3 .container-offers {
        margin-top: 16px;
        color: var(--light-color);
    }
    .section-3 .container-offers .programming {
        width: 230px;
        height: 250px;
    }
    .section-3 .container-offers .programming:nth-child(3) {
        margin-right: 0;
    }
    .section-3 .container-offers .programming .offers div {
        font-size: 10px;
        font-weight: 600;
        color: var(--light-color);
    }
    .section-3 .container-offers .programming .offers div span {
        padding: 5px 5px;
        margin-left: 3px;
        font-size: 10px;
    }

    .section-3 .container-offers .programming .offers .active3 {
       margin: 30px 20px 0px 20px;
       width: 100px;
       height: 30px;
    }
    /* news letter */
    #newsletter .form {
        width: 70%;
    }
    #newsletter h4 {
        font-size: 20px;
    }
    
    #newsletter p {
        font-size: 14px;
        line-height: 23px;
    }
    #newsletter input {
        height: 3rem;
    }
    button.normal {
        padding: 13px 30px;
    }

    /* footer */

    footer .col h1 {
        font-size: 40px;
    }
}


@media screen and (max-width: 477px) {
    body {
        overflow-x: hidden;
    }

    /* all section padding */

    .section-p1 {
        padding:20px;
    }

    /* navbar */
    .header-container {
        justify-content: space-between;
        width: 100%;
        padding: 10px 20px;
    }
    .header-container span  {
        width: 0%;
        font-size: 40px;
    }
    .header-container .header-carrier {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: start;
        text-align: center;
        position: fixed;
        top: 60px;
        right: -100%;
        z-index: 999;
        transition: 0.3s;
        background: var(--light-color);
    }
    .header-container .contain  {
        display: initial;
        font-size: 30px;
        color: var(--colored-border);
    }
    .header-container .contain div {
        width: 30px;
        height: 30px;
    }
    .header-container .contain div.close {
        transform: rotateY(90deg);
    }
    .header-container .contain div.menu {
        position: absolute;
    }
    .header-container.active1 {
        box-shadow: 0px 0px 0px;
    }
    .header-carrier.active {
        right: 0;
    }
    .menud {
        animation: hide 0.2s ease-in forwards;
    }
    .closed {
        animation: hide 0.2s 0.2s ease-out forwards reverse;
    }
    .header-container .header-carrier ul {
        display: flex;
        flex-direction: column;
    
    }
    .header-container .header-carrier ul li {
        padding: 20px 0;
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
    .header-container .header-carrier .activity-container {
        flex-direction: column;
        width: 100%;
    }
    .header-container .header-carrier .activity-container .sign-in {
        margin-top: 20px;
        padding-left: 140px;
        padding-right: 140px;
        font-size: 20px;
        color: var(--dark-color);
        margin-right: 0; 
    }
    .header-container .header-carrier .activity-container .create {
        margin-top: 10px;
        padding: 20px 100px;
        font-size: 20px;
        color: var(--dark-color);
    }

    /* section 1 */
     .section-1{
        display: flex;
        flex-direction:column;
        padding: 10px 0px;
        min-height: 50vh;
        margin-top: 10px;
        margin-bottom: 20px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    }
    .section-1 .descrip {
        padding: 10px 10px;
    }
    .section-1 .descrip h1{
        font-size: 25px;
    }
    .section-1 .descrip p {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .section-1 .descrip button {
        height: 30px;
        width: 100px;
        font-size: 12px;
    }
        .section-1 .image1 {
            padding: 20px 10px;
        }
    
    .section-1 .image1 .up {
        top: -15px;
        right: 10px;
        height: 60px;
    }
    .section-1 .image1 .down {
        bottom: 15px;
        height: 40px;
        left: 10px;
    }

     /* section 2 */   
    .section-1 .contains-text h1 {
        font-size: 25px;
    }

    .section-1 .contains-text p {
        font-size: 13px;
    }
    
    .section-1 .contains-pics img {
        height: 400px;
        border: 10px solid var(--light-color);
    }
    .section-1 .contains-pics .top-left, 
    .section-1 .contains-pics .top-right, 
    .section-1 .contains-pics .bottom-left, 
    .section-1 .contains-pics .bottom-right {
        font-size: 12px;
        width: 130px;
    }

    .top-right {
        top: 60px;
        right: 30px;
        height: 60px;
    }
    .top-left {
        top: 100px;
        left: 20px;
        height: 50px;
    }
    .bottom-left {
        bottom: 60px;
        left: 20px;
        height: 50px;
    }
    .bottom-right {
        bottom: 80px;
        right: 30px;
        height: 60px;
    }

    .top-left h6, .top-right h6, .bottom-left h6, .bottom-right h6 {
        font-size: 18px;
    }

    /* section 3 */

    .section-1 .descrip2 {
        padding-right: 20px;
        padding-left: 20px;
    }
    .section-1 .descrip2 h1 {
        font-size: 25px;
        line-height: 20px;
    }

    .section-1 .descrip2  p {
        font-size: 12px;
    }
    .section-1 .image2 .main-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 0px;
    }
    .section-1 .image2 .round1 {
        width: 140px;
        height: 140px;
        right: 10px;
        bottom: 180px;
    }

    .section-1 .image2 .round2 {
        width: 140px;
        height: 140px;
        left: 10px;
        bottom: 180px;
    }

    /* section 3 */
    .section-3 {
        background: #1a1a1a;
    }

    .section-3 h1 {
        font-size: 20px;
        color: #99ffcc;
        padding-top: 20px;
    }
    .section-3 .samples-course {
        font-size: 10px;
        color: var(--light-color);
    }
    .section-3 .samples-course .div-1 {
        padding: 5px 5px;
        font-size: 8px;
        border: none;
        color: var(--light-color);
        border-radius: 0px;
    }
    .section-3 .samples-course .div-1:hover, 
    .section-3 .samples-course .active2 {
        background: #1a1a1a;
        color: var(--light-color);
        border-bottom: 1px solid #99ffcc;
    }

    .section-3 .container-offers {
        margin-top: 16px;
        color: var(--light-color);
    }
    .section-3 .container-offers .programming {
        width: 80%;
        height: 200px;
    }
    .section-3 .container-offers .programming {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .section-3 .container-offers .programming .offers div {
        font-size: 10px;
        font-weight: 600;
        color: var(--light-color);
    }
    .section-3 .container-offers .programming .offers div span {
        padding: 5px 5px;
        margin-left: 3px;
        font-size: 10px;
    }

    .section-3 .container-offers .programming .offers .active3 {
       margin: 30px 20px 0px 20px;
       width: 100px;
       height: 30px;
    }
    
    /* newsletter */
    #newsletter {
        padding: 40px 20px;
        background-color: #1a1a1a;
        top: 2850px;
    }
    #newsletter h4 {
        font-size: 20px;
    }
    
    #newsletter p {
        font-size: 12px;
        line-height: 20px;
    }
    #newsletter .form {
        margin-top: 10px;
        width: 100%;
    }
    #newsletter input {
        height: 2rem;
    }
    button.normal {
        padding: 8px 30px;
        font-size: 12px;
    }
    /* footer */

    footer {
        font-size: 16px;
    }
    footer .copyright {
        text-align: start;
    }

    #pop-up {
        top: -210px;
        animation: pop-up 0.5s ease forwards;
    }
}
